@import url('./css/tailwind.css');
@import url('./css/font.css');

* {
    outline: none !important;
    user-select: none !important;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Chrome */
}